<!DOCTYPE html>
<html>
<head>
  	<title>Randomize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
  <div class ="inner">
    <div class ="content2">
      <h2>Price Range</h2>
      <p> Select how much you are willing to spend on food.</p>
      <div class='buttons'>
        <a><div class="btn2" id="cheap" onclick="togglePrice('0')">$</div></a>
        <a><div class="btn2" id="medium" onclick="togglePrice('1')">$$</div></a>
        <a><div class="btn2" id="expensive" onclick="togglePrice('2')">$$$</div></a>
        <a><div class="btn2" id="bougie" onclick="togglePrice('3')">$$$$</div></a>
      </div>
      <br>
      <br>
      <div class="w3-container w3-black w3-center w3-opacity w3-padding-64 content2">
        <h2 style="color: white;">What food do you NOT want?</h2>
        <p> Select all that apply.</p>
        <div class='buttons'>
          <a><div class="btn3" id="burgers" onclick="toggleCategory('0')">Burgers</div></a>
          <a><div class="btn3" id="fast_food" onclick="toggleCategory('1')">Fast Food</div></a>
          <a><div class="btn3" id="breakfast" onclick="toggleCategory('2')">Breakfast</div></a>
          <a><div class="btn3" id="barbeque" onclick="toggleCategory('3')">Barbeque</div></a>
          <a><div class="btn3" id="chinese" onclick="toggleCategory('4')">Chinese</div></a>
          <a><div class="btn3" id="italian" onclick="toggleCategory('5')">Italian</div></a>
          <a><div class="btn3" id="japanese" onclick="toggleCategory('6')">Japanese</div></a>
          <a><div class="btn3" id="korean" onclick="toggleCategory('7')">Korean</div></a>
          <a><div class="btn3" id="mexican" onclick="toggleCategory('8')">Mexican</div></a>
          <a><div class="btn3" id="sandwiches" onclick="toggleCategory('9')">Sandwiches</div></a>
          <a><div class="btn3" id="pizza" onclick="toggleCategory('10')">Pizza</div></a>
          <a><div class="btn3" id="thai" onclick="toggleCategory('11')">Thai</div></a>
          <a><div class="btn3" id="seafood" onclick="toggleCategory('12')">Seafood</div></a>
          <a><div class="btn3" id="indian" onclick="toggleCategory('13')">Indian</div></a>
        </div>
      </div>
      <h2>Location</h2>
      <p>This website will generate a random restaurant based on your preferences and your current location.</p>
      <div class="container">
      <fieldset>
        <form id='message-form' action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" id='submit-btn' class="ghost-button" value="Decide what to eat">
        </form>
      </fieldset>
    </div>

    <div class='container'>
      <p>City searched for: </p>
      <p>
        Restaurant Name:
        <span id='nameID'></span>
        <script src='js/index.js'>
          //name = $.get("server.js", function(data) {
          //  .append("the name is " + data.name);
          //})
          //name = "me";
          document.write(`${name}`);
          console.log("resname " + `${name}`)
        </script>
      </p>
      <img src=''>
      <p>Open/Closed</p>
      <p><a href=''>Visit their Yelp page</a></p>
      <p>Categories: </p>
      <p>Rating: </p>
      <p>Price: </p>
      <p>Address: </p>
    </div>
  </div>

  <script src='js/categories.js'></script>
  <script src='js/index.js'></script>
</body>
</html>
